<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; 新帖子</a>
    {{/if}}
    	<span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">旧帖子 &rarr;</a>
    {{/if}}
</nav>

